<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to the Complaint Portal</h1>
  <div class="row">
    <div class="col-sm-7">
      <%= image_tag 'home.jpg', class: "img-responsive", style: "float:left;" %>
    </div>
    <div class="col-sm-5">
      <h2>The best solution to complaints management & resolution</h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      <br>
      <br>
      <%= link_to "Add complaint!", new_complaint_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>