<% provide(:title, 'All complaints') %>
<h1 class="text-center">All Complaints</h1>

<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>#</th>
    <th>Complaint Id</th>
    <th>Show</th>
    <th>Urgency</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <%= ctr = 0 %>
  <% @complaints.each do |complaint| %>
      <tr>
        <td><%= ctr + 1 %></td>
        <td><%= complaint.id %></td>
        <td><%=	 link_to "Show", complaint %></td>
        <td><%=	 complaint.urgency %></td>
        <td><%=	 complaint.status %></td>
      </tr>
      <%=	 ctr = ctr + 1 %>
  <% end %>
  </tbody>
</table>