<% provide(:title, 'Add Complaint') %>
<h1 class="text-center">Add Complaint</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @complaint, :html => {:class => 'form-horizontal'} do |f| %>
        <%= f.label :medium, class: 'control-label' %>
        <%= f.text_field :medium, class: 'form-control' %>
        <br>

        <%= f.label :identification, class: 'control-label' %>
        <%= f.text_field :identification, class: 'form-control' %>
        <br>

        <%= f.label :complainant_name, class: 'control-label' %>
        <%= f.text_field :complainant_name, class: 'form-control' %>
        <br>

        <%= f.label :complainant_phone, class: 'control-label' %>
        <%= f.text_field :complainant_phone, class: 'form-control' %>
        <br>

        <%= f.label :complainant_gender, class: 'control-label' %>
        <%= f.text_field :complainant_gender, class: 'form-control' %>
        <br>

        <%= f.label :urgency, class: 'control-label' %>
        <%= f.number_field :urgency, class: 'form-control' %>
        <br>

        <%= f.label :status, class: 'control-label' %>
        <%= f.text_field :status, class: 'form-control' %>
        <br>

        <%= f.label :police_station, class: 'control-label' %>
        <%= f.text_field :police_station, class: 'form-control' %>
        <br>

        <%= f.label :complaint_type, "Complaint Type", class: 'control-label' %>
        <%= f.text_field :complaint_type, class: 'form-control' %>
        <br>

        <%= f.label :language, class: 'control-label' %>
        <%=	f.text_field :language, class: 'form-control' %>

        <br>

        <%= f.submit "Create complaint", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>