<% provide(:title, @complaint.identification) %>
<div class="container">
  <h1>Complaint Details</h1>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Detail</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Complaint Id</td>
      <td><%= @complaint.id %></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Complainant Name</td>
      <td><%= @complaint.complainant_name %></td>
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  <h1>Complaint Logs</h1>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <% ctr = 0 %>
    <% @logs.each do |log| %>
        <tr>
          <td><%= ctr + 1 %></td>
          <td><%= log.created_at %></td>
          <td><%= log.content %></td>
        </tr>
        <% ctr = ctr + 1 %>
    <% end %>
    </tbody>
  </table>
  <br>
  <br>
  <h1>Update Logs: </h1>
  <%=	form_for(:log, url: logs_path, :html => {:class => 'form-horizontal'}) do |f| %>
      <%= f.label :content, class: 'control-label' %>
      <%= f.text_area :content, class: 'form-control' %>
      <br>
      <input type="hidden" value="<%= params[:id] %>" name="complaint_id">
      <input type="hidden" value="<%= current_user.id %>" name="user_id">
      <input type="submit" class="btn btn-primary">
  <% end %>
</div>