<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <%= image_tag("https://www.gravatar.com/avatar/#{Digest::MD5::hexdigest(@user.email.downcase)}.png?d=monsterid&s=300",
                      alt: @user.name, :style => "width: 100%;") %>
        <h1><%= @user.name %></h1>
        <p class="title">
          <%= @user.email %>
        </p>
        <p><%= @user.gender %></p>
      </div>
    </div>
    <div class="col-sm-9">
      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>#</th>
          <th>Complaint Id</th>
        </tr>
        </thead>
        <tbody>
        <%= ctr = 0 %>
        <% @assigns.each do |assign| %>
            <tr>
              <td><%= ctr + 1 %></td>
              <td><%=	assign.complaint_id %></td>
            </tr>
            <%=	 ctr = ctr + 1 %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>