<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | QuizIt</title>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%=	stylesheet_link_tag "bootswatch" %>
    <%=	stylesheet_link_tag "base" %>
    <%= stylesheet_link_tag "another" %>
    <%= stylesheet_link_tag "leaderboard" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%=	 link_to "Complaint-Portal", home_path, id: "logo", class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "About", about_path %></li>
            <% if logged_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <% if current_user.admin? %>
                        <li><%= link_to "Complaints", complaints_path %></li>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to "Log out", logout_path, method: :delete %></li>
                  </ul>
                </li>
                <li><a href="#"><i class="fa fa-user"></i>  Hi,  <%=	 @current_user.name %>!</a></li>
            <% else %>
                <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="margin: 0 auto;">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-dismissible alert-<%= message_type %>">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= message %>
          </div>
      <% end %>
      <%= yield %>
    </div>
    <br>
    <br>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-inline">
              <li><%= link_to "Home", home_path %></li>
              <li class="footer-menu-divider"></li>
              <li><%= link_to "About", about_path %></li>
              <li class="footer-menu-divider"></li>
              <% if logged_in? %>
                  <li><%= link_to "logout", logout_path %></li>
              <% else %>
                  <li><%= link_to "login", login_path %></li>
                  <li class="footer-menu-divider"></li>
                  <li><%= link_to "Register", signup_path %></li>
              <% end %>
              <li class="footer-menu-divider"></li>
            </ul>
            <p class="copyright text-muted small">Copyright © 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
